html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    display: block;
    overflow: hidden;

    background-color: #000000;
    color: white;

    font-family: "Courier New", Courier, monospace;
}
